.swiper {
  width: 100%;
  padding-top: 2.6vw;
  padding-bottom: 2.6vw;
  --swiper-navigation-size: 1.7vw;
  --swiper-navigation-color: #000;
  //   swiper navigation의 양 옆 여백 (10px 기본 + 3rem)
}

.slide-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.swiper-wrapper {
  align-items: center;
}

// 오른쪽 흰 div 영역은 가운데 슬라이드에서만 적용
.swiper-slide:not(.swiper-slide-active) > .slide-wrapper > .swiper-slide-div {
  display: none;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 23.4vw;
  height: 23.4vw;
  opacity: 1;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
  box-shadow: 0px 0.208vw 1.563vw 0px rgba(158, 158, 158, 0.4);
}

.swiper-slide:not(.swiper-slide-active)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(256, 256, 256, 0.3);
  z-index: 1000;
}

.swiper-slide-active {
  transform: translateX(0.26vw) !important;
}

// .swiper-slide-next,
// .swiper-slide-prev {
//   width: 16.8vw;
//   height: 16.8vw;
// }

// .swiper-slide:not(.swiper-slide-active):not(.swiper-slide-next):not(
//     .swiper-slide-prev
//   ) {
//   transform: translate3d(300px, 0px, -1010px) rotateX(0deg) rotateY(0deg)
//     scale(1) !important;
// }

#prev2 {
  transform: translate3d(-15vw, 0px, -52vw) rotateX(0deg) rotateY(0deg) scale(1) !important;
}

#prev {
  transform: translate3d(-10vw, 0px, -24vw) rotateX(0deg) rotateY(0deg) scale(1) !important;
}

#next {
  transform: translate3d(10vw, 0px, -24vw) rotateX(0deg) rotateY(0deg) scale(1) !important;
}

#next2 {
  transform: translate3d(15vw, 0px, -52vw) rotateX(0deg) rotateY(0deg) scale(1) !important;
}

@media (max-width: 1440px) {
  #prev2 {
    transform: translate3d(-10vw, 0px, -52vw) rotateX(0deg) rotateY(0deg)
      scale(1) !important;
  }

  #prev {
    transform: translate3d(-7.5vw, 0px, -24vw) rotateX(0deg) rotateY(0deg)
      scale(1) !important;
  }

  #next {
    transform: translate3d(7.5vw, 0px, -24vw) rotateX(0deg) rotateY(0deg)
      scale(1) !important;
  }

  #next2 {
    transform: translate3d(10vw, 0px, -52vw) rotateX(0deg) rotateY(0deg)
      scale(1) !important;
  }
}

// .swiper-slide-prev {
//   transform: translate3d(-200px, 0px, -464px) rotateX(0deg) rotateY(0deg)
//     scale(1) !important;
// }

// .swiper-slide-next {
//   transform: translate3d(200px, 0px, -464px) rotateX(0deg) rotateY(0deg)
//     scale(1) !important;
// }

// .swiper-slide:nth-child(2) {
//   transform: translate3d(-300px, 0px, -1010px) rotateX(0deg) rotateY(0deg)
//     scale(1) !important;
// }

// .swiper-slide:nth-child(6) {
//   transform: translate3d(300px, 0px, -1010px) rotateX(0deg) rotateY(0deg)
//     scale(1) !important;
// }
.swiper-slide:not(.swiper-slide-visible) {
  opacity: 0;
}

.swiper-slide-div {
  min-width: 23.4vw;
  height: 23.4vw;

  box-sizing: border-box;
  transform: translateX(-0.52vw);
  background-color: white;
  border-radius: 0 50% 50% 0;
  box-shadow: 0px 0.208vw 1.563vw 0px rgba(158, 158, 158, 0.4);

  &-main_div {
    display: flex;
    flex-direction: row;
    margin-top: 5.208vw;
    margin-left: 2.5vw;
    font-size: 1.563vw;
    font-weight: 700;
    line-height: 150%;
    color: $color_black_100;
    white-space: pre-wrap;
  }

  &-main_text {
    padding-left: 0.8vw;
    display: flex;
    flex-direction: column;
  }

  &-sub_text {
    margin-top: 1.458vw;
    color: $color_black_100;
    opacity: 0.5;
    line-height: 140%;
    font-size: 0.833vw;
    font-weight: 700;
  }
}

.swiper-button-prev,
.swiper-button-next {
  font-weight: 600;
}

.swiper-button-next {
  right: 2vw;
}
.swiper-button-prev {
  left: 2vw;
}
