$color_white: #ffffff;
$color_white_25: #ffffff40;
$color_white_40: #ffffff66;

$color_black_100: #000235;
$color_black_30: #0002354d;
$color_black_40: #00023566;
$color_black_5: #0002350d;

$color_point: #ff7145;
