$color_white: #ffffff;
$color_white_25: "#FFFFFF40";
$color_white_40: "#FFFFFF66";

$color_black_100: "#000235";
$color_black_30: "#0002354D";
$color_black_40: "#00023566";
$color_black_5: "#0002350D";

$color_point: "#FF7145";
