body {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 67.5%; // 10px

  display: flex;
  justify-content: center;
  align-items: center;

  #root {
    width: 100%;
  }

  // 라우팅되는 모든 페이지가 들어감
  .app {
    width: 100%;
    height: calc(100vh - $HEADER_HEIGHT_MO);
    margin-top: $HEADER_HEIGHT_MO;
    font-family: NotoSansKRRegular;
    user-select: none;
    overflow: auto;

    .main {
      &:not(.bookmark) {
        padding: 0 5rem;
        max-width: 119.4rem;
        margin: auto;
        margin-top: 5.6rem;
      }

      &.bookmark {
        padding: 0 36.3rem;
        margin: auto;
        padding-top: 5.6rem;
        .text-heading-2 {
          color: $color_point;
        }
        background: linear-gradient(
            0deg,
            rgba(0, 2, 53, 0.03) 0%,
            rgba(0, 2, 53, 0.03) 100%
          ),
          #fff;
      }
    }
  }
}

.hovered {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
  z-index: $Z_INDEX_MODAL;
}

#portal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
}
