.text-normal-600 {
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.text-normal-700 {
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.text-normal-300 {
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}
