// 브랜드 무드 버튼
.text-normal-300 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 150%;
}

.text-heading-1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 100%;
}

.text-heading-2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 150%;
}

.text-subtitle-1 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 100%;
}

.text-subtitle-2 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 150%;
}

.text-body-1 {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 150%;
}

.text-body-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 160%;
}

.text-body-3 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 160%;
}

.component-extreme {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 100%;
}

.component-large {
  font-size: 2rem;
  font-weight: 600;
  line-height: 100%;
}

.component-default {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 100%;
}

.component-small {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 100%;
}

.component-caption {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 100%;
  color: $color_black_30;
}

.text-landing {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3.2rem;
}